/.env
/.vscode
/node_modules
/commands/owner/test.js
/commands/info/legal.js
/documents/privacy-policy.json
/documents/terms-of-service.json
/.tsbuildinfo
/src/commands/info/legal.ts
/build/commands/info/legal.js
